In [1]:
import pandas as pd
import numpy as np

# Question 1

## What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.21.2'

# Question 2

## What's the version of Pandas?

In [3]:
pd.__version__

'1.3.5'

# Question 3

## What's the average price of BMW cars in the dataset?

In [7]:
df = pd.read_csv("data/data.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [10]:
df[df["Make"] == "BMW"]["MSRP"].mean()

61546.76347305389

# Question 4

## Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [14]:
df[df["Year"] >= 2015]["Engine HP"].isnull().sum()

51

# Question 5

*    Calculate the average "Engine HP" in the dataset.
*    Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
*    Now, calcualte the average of "Engine HP" again. Has it changed?

Round both means before answering this questions. You can use the round function for that:

```
print(round(mean_hp_before))
print(round(mean_hp_after))
```

In [25]:
mean_hp_before = df["Engine HP"].mean()
print(round(mean_hp_before))

249

In [26]:
df["Engine HP"] = df["Engine HP"].fillna(mean_hp_before)
df["Engine HP"]

0        335.0
1        300.0
2        300.0
3        230.0
4        230.0
         ...
11909    300.0
11910    300.0
11911    300.0
11912    300.0
11913    221.0
Name: Engine HP, Length: 11914, dtype: float64

In [27]:
mean_hp_after = df["Engine HP"].mean()
print(round(mean_hp_after))

249

# Question 6

 *   Select all the "Rolls-Royce" cars from the dataset.
 *   Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
 *   Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
 *   Get the underlying NumPy array. Let's call it X.
 *   Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
 *   Invert XTX.
 *   What's the sum of all the elements of the result?

Hint: if the result is negative, re-read the task one more time

In [36]:
X = df[df["Make"] == "Rolls-Royce"][["Engine HP", "Engine Cylinders" , "highway MPG"]].drop_duplicates().values
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [48]:
XTX = X.T.dot(X)
XTX

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

In [57]:
XTX_inv = np.linalg.inv(XTX)

In [58]:
XTX_inv.sum()

0.032212320677486195

# Questions 7

*    Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
*    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
 *   What's the value of the first element of w?.

In [50]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [53]:
w = np.linalg.inv(XTX).dot(X.T).dot(y)
w

array([ 0.19989598, 31.02612262, 31.65378877])